.lang-text {
    display: block;
    width: 100%;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

.clickable,
.clickedit {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px !important;
    font-size: 15px;
}

.vertical-align {
    vertical-align: middle !important;
}

.add-key-btn {
    position: fixed;
    z-index: 9999;
    right: 50px;
    top: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add-key-btn>img {
    width: 32px;
    height: auto;
}
.message {
    display: none;
}
.success {
    color: green;
    display: block;
}

.error {
    color: red;
    display: block;
}

.lang-value {
    padding: 0 !important;
}

.js-lang-editor {
    height: 50px !important;
}